@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-6">
    <h1>Beers</h1>
    @Html.ActionLink("View a List of Beers", "Index", "Beers")
</div>

<div class="col-md-6">
    <h1>More Information</h1>
</div>